[submodule "ansible-stubs"]
	path = ansible-stubs
	url = git@github.com:q0w/ansible-stubs.git
[submodule "yandexcloud-stubs"]
	path = yandexcloud-stubs
	url = git@github.com:q0w/yandexcloud-stubs.git
