repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    -   id: requirements-txt-fixer
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
    -   id: add-trailing-comma
        args: [--py36-plus]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
    -   id: pyupgrade
        args: [--py38-plus]
-   repo: https://github.com/grantjenks/blue
    rev: v0.9.0
    hooks:
    -   id: blue
-   repo: https://github.com/csachs/pyproject-flake8/
    rev: v0.0.1a4
    hooks:
    -   id: pyproject-flake8
        additional_dependencies: [flake8-typing-imports]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.950
    hooks:
    -   id: mypy
        additional_dependencies: [types-protobuf]
-  repo: https://github.com/RobertCraigie/pyright-python
   rev: v1.1.247
   hooks:
   -  id: pyright
